

#header {z-index:5; transition: left 0.2s; }
#sidedrawer {background-color:#283B54;padding-top: 15px; position: fixed; top: 0; bottom: 0; width: 250px; left: -250px; overflow: auto; z-index: 2; transition: transform 0.2s; }
#content-wrapper { min-height: 830px; overflow-x: hidden;padding: 15px 0; margin-left: 0px; transition: margin-left 0.2s;}

.logo-waper{padding-right:1rem;}

.Msg_Content { position: relative; }
.Msg_Content .badge { position: absolute; top: 50%; left: 50%; margin-top: -16px; margin-left: 0; }
.Msg_Content i { color:#fff}


/*Toggle Sidedrawer*/
#sidedrawer.active { transform: translate(250px); }
#sidedrawer hr { margin:0 !important}

/**Header CSS*/
.sidedrawer-toggle { color: #fff; cursor: pointer; font-size: 20px; line-height: 20px; margin-right: 10px;padding-top:17px;}
.sidedrawer-toggle:hover { color: #fff; text-decoration: none; }

 #mui-overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999999; background-color: rgba(0,0,0,.2); overflow: auto; }

/*---manu Style----------*/
.Admin-p { text-align:center}
.Admin-p img { height:100px; width:100px;}
.U_Name{ color: #fff; cursor:pointer; }


.Admin-p > .Dash_b::before { -webkit-animation: 2.5s blow 0s linear infinite; animation: 2.5s blow 0s linear infinite; position: absolute; content: ''; width: 100px; height: 100px; top: 16px; margin: 0 auto; border-radius: 50%; z-index: 0; }
@-webkit-keyframes blow {
    0% { -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    50% { -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    100% { -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1); opacity: 0; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
}
@keyframes blow {
    0% { -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    50% { -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    100% { -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1); opacity: 0; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
}

#sidedrawer .dropdown-menu > li > a { padding: 7px 18px; color: #666; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; font-size: 14px; line-height: 25px; }
#sidedrawer .dropdown-menu > li > a i { margin-right: 7px; margin-top: 2px; font-size: 20px; }

.Logout{ color:#fff;text-decoration:none; }
.Logout:before {content:'\f08b'; color:#fff; font-family: 'Fontawesome';}


/*---Treeview Style------*/
.rootNode {border-bottom: 1px solid #3174D3; border-top: 1px solid #4D90FE; font-size:16px; padding: 10px 8px 12px 0; width: 100%; }
.rootNode:hover { background-color:#ddd}
.rootNode > a {color:#f1f1f1; text-decoration:none}

.treeNode { outline: medium none; width: 100%; padding:10px 4px; border-bottom: 1px solid #091e33;
border-top: 1px solid #384d62;}
.treeNode:hover { background-color:#182c45}
.treeNode > a {font-size:1em !important;color:#f1f1f1; text-decoration:none}

.leafNode{padding:4px 0;}
.leafNode > a{color:#f1f1f1;text-decoration:none}
.leafNode:hover { text-decoration:none;}

.Selected_Node { color:#2bff00 !important}
#LinkTreeView {padding-bottom:40px; }
/*---End Treeview Style------*/

@media (min-width: 768px) {
    #header { margin-left: 250px; }
    #sidedrawer { transform: translate(250px); }
    #content-wrapper { margin-left: 250px; }
    #footer { margin-left: 250px; }

    body.hide-sidedrawer #header { margin-left: 0; }
    body.hide-sidedrawer #sidedrawer { transform: translate(0px);}
    body.hide-sidedrawer #content-wrapper { margin-left: 0;}
    body.hide-sidedrawer #footer { margin-left: 0;}
}

@media (max-width: 767.98px) {
    .container, .container-fluid { padding-right: 10px; padding-left: 10px; }
}
