/*Plugin CSS*/
.str_wrap { overflow: hidden; width: 100%; line-height: 16px; position: relative; -moz-user-select: none; -khtml-user-select: none; user-select: none; white-space: nowrap; }
/*.str_wrap.str_active { background: #f1f1f1; }*/
.str_move { white-space: nowrap; position: absolute; top: 0; left: 0; cursor: move; }
.str_move_clone { display: inline-block; vertical-align: top; position: absolute; left: 100%; top: 0; }
.str_vertical .str_move_clone { left: 0; top: 100%; }
.str_down .str_move_clone { left: 0; bottom: 100%; }
.str_vertical .str_move,
.str_down .str_move { white-space: normal; width: 100%; }
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move { cursor: inherit; }
.str_wrap img { max-width: none !important; }
/***End***/

.student { display: flex; }
.student .summary { max-width: 250px; font-size: 1.4rem; font-weight: bold; }
.student .summary ul li { display: flex; justify-content: space-between; padding: .35rem 1rem; }


.info-block { width:160px; display:inline-block; margin-right: 2rem; background-color: #fff; text-align: center; }
.info-block img { height: 160px;width:100% }
.info-block h4 { overflow: hidden; text-overflow: ellipsis; }


/*******/
.info-body { position: relative; }
.notify-badge { position: absolute; right: -20px; top: 10px; text-align: center; border-radius: 30px 30px 30px 30px; color: #fff; padding: 5px 10px; font-size: 18px; }
.Pre { background-color: #00a12a; }
.Abs { background-color: #CC0000; }
.Leave { background-color: #0099CC; }
.Late.Abs { background-color: #FF4F29; }
.Late { background-color: #FF8800; }
.Bunk { background-color: #f4511e; }

.name-title { overflow: hidden; text-overflow: ellipsis; text-shadow: 3px 3px 10px #000; position: absolute; bottom: 0; background-color: rgba(68, 68, 68, .6); width: 100%; padding: 8px 3px; color: #fff; font-size: 18px; }
.entry-date { font-size: 14px; font-weight: bold; background-color: rgba(233, 30, 99, 0.8); color: #fff; text-shadow: 3px 3px 10px #e91e63; position: absolute; bottom: 32px; padding: 4px 6px; }
.exit-date { right: 0; font-size: 14px; font-weight: bold; background-color: rgba(1, 87, 155, .8); color: #fff; text-shadow: 3px 3px 10px #01579b; position: absolute; bottom: 32px; padding: 4px 6px; }


.slide-in:before { background-color: rgba(3, 169, 244, 0.8); text-shadow: 3px 3px 10px #777; position: absolute; content: "IN"; height: 100%; z-index: 99; padding: 6% 12px; color: rgb(255, 255, 255); font-size: 25px; }
.slide-out:before { background-color: rgba(255, 152, 0, 0.8); text-shadow: 3px 3px 10px #777; position: absolute; content: "OUT"; height: 100%; z-index: 99; padding: 6% 2px; color: rgb(255, 255, 255); font-size: 23px; }


.btn_reload { color:#fff;text-decoration:none;}


@media (max-width : 1024px) {
    .info-block { width: 120px; }
    .info-block img { height: 120px; }

    .name-title { font-size: 12px; padding: 3px 3px; }
    .student .summary { max-width: 180px; }
    .list-group-item { font-size: 0.9rem; padding: .35rem 1rem; }

    .entry-date { font-size: 11px; font-weight: normal; color: #fff; bottom: 22px; padding: 2px; }
    .exit-date { right: 0; font-size: 11px; font-weight: normal; color: #fff; bottom: 22px; padding: 2px; }
    .notify-badge { padding: 3px 6px; font-size: 15px; }
}

@media (max-width : 1366px) {
    .info-block { width: 130px; }
    .info-block img { height: 130px; }

    .name-title { font-size: 12px; padding: 3px 3px; }
    .student .summary { max-width: 180px; }
    .list-group-item { font-size: 0.9rem; padding: .35rem 1rem; }

    .entry-date { font-size: 11px; font-weight: normal; color: #fff; bottom: 22px; padding: 2px; }
    .exit-date { right: 0; font-size: 11px; font-weight: normal; color: #fff; bottom: 22px; padding: 2px; }
    .notify-badge { padding: 3px 6px; font-size: 15px; }
}








/*@media (max-width: 1280px) {
    .info-block { width: 100px; }
    .info-block img { height: 100px; }

    .name-title { font-size: 12px; padding: 3px 3px; }
    .student .summary { max-width: 180px; }
    .list-group-item { font-size: 0.9rem; padding: .35rem 1rem; }

    .entry-date { font-size: 11px; font-weight: normal; color: #fff; bottom: 22px; padding: 2px; }
    .exit-date { right: 0; font-size: 11px; font-weight: normal; color: #fff; bottom: 22px; padding: 2px; }
    .notify-badge { padding: 3px 6px; font-size: 15px; }
}*/