
#header {z-index:5; transition: left 0.2s; }
#sidedrawer {background-color:#273A28;padding-top: 15px; position: fixed; top: 0; bottom: 0; width: 250px; left: -250px; overflow: auto; z-index: 2; transition: transform 0.2s; }
#content-wrapper { min-height: 830px; overflow-x: auto;padding: 15px 0; margin-left: 0px; transition: margin-left 0.2s;}

.logo-waper{ flex-shrink:0;padding-right:1rem;padding-top: 8px;}
.InsInfo { width:100%}
#InstitutionName { font-size: 1.5rem; font-weight: bold; }
.InsInfo p {margin-bottom: 0.3rem;}

/*Toggle Sidedrawer*/
#sidedrawer.active { transform: translate(250px); }
#sidedrawer hr { margin:0 !important}

/**Header CSS*/
.sidedrawer-toggle { color: #fff; cursor: pointer; font-size: 20px; line-height: 20px; margin-right: 10px;padding-top:17px;}
.sidedrawer-toggle:hover { color: #fff; text-decoration: none; }

 #mui-overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999999; background-color: rgba(0,0,0,.2); overflow: auto; }

/*---manu Style----------*/
.Admin-p { text-align:center}
.Admin-p img { height:100px; width:100px;}
.U_Name{ color: #fff; cursor:pointer; }


.Admin-p > .Dash_b::before { -webkit-animation: 2.5s blow 0s linear infinite; animation: 2.5s blow 0s linear infinite; position: absolute; content: ''; width: 100px; height: 100px; top: 16px; margin: 0 auto; border-radius: 50%; z-index: 0; }
@-webkit-keyframes blow {
    0% { -webkit-box-shadow: 0 0 0 0px rgba(196, 205, 176, 0.3); box-shadow: 0 0 0 0px rgba(196, 205, 176, 0.3); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    50% { -webkit-box-shadow: 0 0 0 10px rgba(196, 205, 176, 0.3); box-shadow: 0 0 0 10px rgba(196, 205, 176, 0.3); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    100% { -webkit-box-shadow: 0 0 0 20px rgba(196, 205, 176, 0.3); box-shadow: 0 0 0 20px rgba(196, 205, 176, 0.3); opacity: 0; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
}
@keyframes blow {
    0% { -webkit-box-shadow: 0 0 0 0px rgba(196, 205, 176, 0.3); box-shadow: 0 0 0 0px rgba(196, 205, 176, 0.3); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    50% { -webkit-box-shadow: 0 0 0 10px rgba(196, 205, 176, 0.3); box-shadow: 0 0 0 10px rgba(196, 205, 176, 0.3); opacity: 0.5; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
    100% { -webkit-box-shadow: 0 0 0 20px rgba(196, 205, 176, 0.3); box-shadow: 0 0 0 20px rgba(196, 205, 176, 0.3); opacity: 0; -webkit-transform: scale3d(1, 1, 0.5); transform: scale3d(1, 1, 0.5); }
}


#sidedrawer .dropdown-menu > li > a { padding: 7px 18px; color: #666; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; font-size: 14px; line-height: 25px; }
#sidedrawer .dropdown-menu > li > a i { margin-right: 7px; margin-top: 2px; font-size: 20px; }

.Logout{ color:#48ff48;text-decoration:none; }
.Logout:before { color: #48ff48; content: '\f011'; font-family: 'Fontawesome'; font-size: 1.5rem; }
.Logout:hover{ color:#ff5f5f;text-decoration:none; }

#sidedrawer ul { list-style: none; padding-left: 0px; }
#sidedrawer > ul > li:first-child { padding-top: 10px; }
.my_Manu li {border-bottom: 1px solid #141414;border-top: 1px solid #3E513F; padding:10px 0 10px 10px}
.my_Manu li.active { background-color:#3A4D3B; border-top: 1px solid #3E513F; }
.my_Manu li:first-child { border-top:none; }
.my_Manu li:last-child{ border-bottom:none; }

.my_Manu a:focus { outline:none !important;}
.my_Manu li a {color:#c4cdb0;font-weight:normal;}
.my_Manu li a i { margin-right:8px; font-size: 0.85rem;}
/*---End Manu------*/

@media (min-width: 768px) {
    #header { margin-left: 250px; }
    #sidedrawer { transform: translate(250px); }
    #content-wrapper { margin-left: 250px; }
    #footer { margin-left: 250px; }

    body.hide-sidedrawer #header { margin-left: 0; }
    body.hide-sidedrawer #sidedrawer { transform: translate(0px);}
    body.hide-sidedrawer #content-wrapper { margin-left: 0;}
    body.hide-sidedrawer #footer { margin-left: 0;}
}

@media (max-width: 767.98px) {
    .sidedrawer-toggle { padding-top: 0; }
    .container, .container-fluid { padding-right: 10px; padding-left: 10px; }
}
@media (max-width: 575.98px) {
    .sidedrawer-toggle { margin-right: 0; padding-top: 0;z-index:9999 }
    .logo-waper { padding-right: 0; padding-top: 0;margin-top:-15px; }
    #InstitutionName { font-size: 1rem; }
    #InstitutionName span{display:none; }
}