
.Category { background-color: #fff; border: 1px solid #9f9f9f; float: left; margin: 9px 0 0; padding: 10px;}
.Category a{ text-decoration:none;  color:#069;  font-size:9pt}
.Category a:hover{ color:rgb(255,106,0)}
.SearchID{ float:left;  padding:4px 0}
.Class{ float:left;  padding:4px 0}
.ClassCount{ padding:3px 0}

#AllStudents{ margin:20px 0 0 190px;  min-height:300px}

.ClassName{ color:hsl(0,0%,0%);  font-family:tahoma;  font-size:14px;  margin-bottom:10px}
.GV th{ background-color:#004275;  color:#fff}

.GV th a{ color:#fff}
