
.p-image { flex-shrink:0;padding-right:1rem}
.p-image img{ height:160px; width:160px;}
.Student-Status { text-align:center;font-size:0.9rem;font-weight:bold;}

.Status-on {color:#00C851}
.Status-on:before {margin-right:3px; content:'\f058';font-family:'fontawesome';color:#00C851}

.Status-off{color:#ff4444}
.Status-off:before {margin-right:3px; content:'\f057';font-family:'fontawesome';color:#ff4444}

.info {width:100%;}
.info ul{ margin:0;  padding:0}
.info ul li { border-bottom:1px solid #d6e0eb; color: #5d6772; font-size: 15px; line-height: 23px; list-style: outside none none; margin: 6px 0 0; padding-bottom: 5px; padding-left: 2px; }
.info ul li:last-child { border-bottom: none; }nfo ul li { border-bottom: 1px solid #d6e0eb; color: #5d6772; font-size: 15px; line-height: 23px; list-style: outside none none; margin: 6px 0 0; padding-bottom: 5px; padding-left: 2px; }

.Total_p-due { background-color: #2196f3; border-bottom: 4px solid #077cd9; color: #dae4ef; font-size: 18px; font-weight: bold; margin: 3px 0 20px; padding: 10px; }
.PresentDue td{color:#dc0000 !important}
.OthersPamnt { background-color:#5fc42a; color:#fff}
.Pay { width: 100%; clear: both; }
.GTotal, .GTotal_Others {color:#5d6772; font-size:14px }

.All_session_Total {color:#ff6a00; font-size:17px; font-weight:bold; }
.ErrorTextbox { color:red;border:1px solid red}

.P-R { text-align:left;}
.P-R td { padding: 5px 6px; }
.P-R td small{ font-size:91%}

.paid-gv th { font-size: 13px; }
.paid-gv td { font-size: 14px; white-space:nowrap;}

.paid-gv .form-control { width: 93%; display:inline-block !important; }

.mGrid tr:nth-child(even) {background: #f6f6f6}
.mGrid tr:nth-child(odd) {background: #fff}
.Pay_Show { display:none;}