
body { background-color: #eef5f9 !important; }
.card-header > a { color: #fff; }


.Pre { background-color: #00a12a; }
.Abs { background-color: #CC0000; }
.Leave { background-color: #0099CC; }
.Late.Abs { background-color: #FF4F29; }
.Late { background-color: #FF8800; }
.Bunk { background-color: #f4511e; }

.OldnewHeader { background-color: #1c2a48; border-bottom: none; color: #fff; }
.Bold-footer td { font-weight: bold; }
/*Birthday*/
.BirthayHeight { display: block; max-height: 340px; overflow: auto; }
.BirthayHeight > tr { display: block; }
.BirthayHeight > tr > td { display: block; }

.table-filter .media-photo { width: 35px; }
.table-filter .media-body { display: block; /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */ }
.table-filter .media-meta { font-size: 11px; color: #999; }
.table-filter .media .title { margin: 0; margin-top: 15px; color: #4285f4; font-size: 14px; font-weight: bold; line-height: normal; }
.table-filter .media .title span { font-size: .8em; margin-right: 20px; }
.table-filter .media .title span.pendiente { color: #f0ad4e; }
.table-filter .media .title span.cancelado { color: #d9534f; }
.table-filter .media .summary { font-size: 14px; }

/*Calender*/
.myCalendar .myCalendarTitle { background-color: #1c2a48; border-bottom: none; color: #fff; }
.myCalendar tr td.myCalendarDay, .myCalendar tr th.myCalendarDayHeader { border-right: solid 1px #ddd; text-align: center; padding: 8px; color: #1c2a48; }

.Evnt_Date { padding: 15px 0; color: #000; }
.Appointment { font-size: 13px; display: block; background-color: #1c2a48; color: #fff; padding: 2px; border-radius: 5px; margin: 2px 8px; }
