
.Show_b { display: none; }
.NFI-filename { width: 80%;}
.mGrid td table td { border: none; }
.Itm_Img { width:60px}


@page{ margin:0.5cm}
@media print{
 .Site_Navigation, .Category, .UserPanel, .btn btn-primary, .footer, #Print, .NoPrint { display: none; }
 .headerBack { margin-bottom: 10px; }
 .maincontain { width: 100%; margin-left: 0; float: none; padding: 0; }

 h3 { color: #000; font-size: 22px; font-weight: 400; margin: 0; text-align: center; background-color: #fff; font-family: Tahoma; }
 .mGrid th { font-size: 14px; border: 1px solid #a2a2a2; }
 .mGrid td { font-size: 14px; padding: 3px; color: #000; border: 1px solid #a2a2a2; }
 .Itm_Img { width:50px}
}
